flex-md-row {
    flex-direction: row !important;
  }
  .pb-3 {
    padding-bottom: 1rem !important;
  }
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  .align-items-center {
    align-items: center !important;
  }
  .flex-column {
    flex-direction: column !important;
  }
  .border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .d-flex {
    display: flex !important;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }